<section style="border: 3px solid rgb(128, 247, 9); text-align: center">
  <h3 style="color: rgb(0, 255, 8)">Hi <%= name %></h3>
  <p>We are glad to see you using our service.</p>
  <p>You hav paid $<%= amount %></p>
  <p>Thanks for your payment</p>
  <p>
    For more service please click the following link
    <br />
    <a href="<%= service_url %>"><%= service_url %></a>
  </p>
</section>
